/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  @include mq {
    padding: 10px 30px;
  }
  & + & {
    @include mq {
      margin-left: 10px;
    }
  }
  &-default {
    background-color: $default;
  }
  &-error {
    background-color: $error;
    &:hover {
      background-color: $error-light;
      transition: .3s ease-in;
    }
  }
  &-info {
    background-color: $info;
    &:hover {
      background-color: $info-light;
      transition: .3s ease-in;
    }
  }
  &-success {
    background-color: $success;
    &:hover {
      background-color: $success-light;
      transition: .3s ease-in;
    }
  }
  &-warning {
    background-color: $warning;
    &:hover {
      background-color: $warning-light;
      transition: .3s ease-in;
    }
  }
}

